<a href="https://colab.research.google.com/github/nicollysamendonca/AtividadeExtra1/blob/main/Atividade_Extra_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Atividade Extra 1**

In [1]:
import pandas as pd

In [5]:
data = {
    'nome': ['Darwin', 'Díaz', 'Van Dijk', 'Salah', 'Arnold'],
    'idade': [30, 25, 35, 40, 28],
    'renda': [5000, 4000, 6000, 3500, 4500],
    'adimplente': [True, True, False, True, False],
    'bairro': ['Centro', 'Zona Norte', 'Centro', 'Zona Norte', 'Zona Sul']
}

In [6]:
df = pd.DataFrame(data)

In [7]:
print("DataFrame:")
print(df)
print()

DataFrame:
       nome  idade  renda  adimplente      bairro
0    Darwin     30   5000        True      Centro
1      Díaz     25   4000        True  Zona Norte
2  Van Dijk     35   6000       False      Centro
3     Salah     40   3500        True  Zona Norte
4    Arnold     28   4500       False    Zona Sul

In [8]:
filtro_1 = df[(df['idade'] > 30) & (df['renda'] > 4000)]

In [9]:
print("Filtro 1:")
print(filtro_1)
print()

Filtro 1:
       nome  idade  renda  adimplente  bairro
2  Van Dijk     35   6000       False  Centro

In [10]:
filtro_2 = df[(df['idade'] <= 30) & (df['bairro'] == 'Centro')]

In [11]:
print("Filtro 2:")
print(filtro_2)
print()

Filtro 2:
     nome  idade  renda  adimplente  bairro
0  Darwin     30   5000        True  Centro

In [12]:
filtro_3 = df[(df['adimplente'] == True) & (df['renda'] >= 5000)]

In [13]:
print("Filtro 3:")
print(filtro_3)
print()

Filtro 3:
     nome  idade  renda  adimplente  bairro
0  Darwin     30   5000        True  Centro

In [14]:
filtro_4 = df[(df['bairro'] == 'Zona Norte') | (df['renda'] < 4000)]

In [15]:
print("Filtro 4:")
print(filtro_4)

Filtro 4:
    nome  idade  renda  adimplente      bairro
1   Díaz     25   4000        True  Zona Norte
3  Salah     40   3500        True  Zona Norte

**Fim!**